@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #2d3748;
  --background-dark: rgb(241, 245, 249);
  --background-card: rgb(226, 232, 240);
  --background-hover: rgb(203, 213, 225);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --background-dark: rgb(17, 24, 39);
    --background-card: rgb(31, 41, 55);
    --background-hover: rgb(55, 65, 81);
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
