@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --background-dark: rgb(17, 24, 39);
  --background-card: rgb(31, 41, 55);
  --background-hover: rgb(55, 65, 81);
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background: radial-gradient(circle at top left, #1e1e2e 0%, #1e1e2e 40%, transparent 70%),
              radial-gradient(circle at bottom right, #1e1e2e 0%, #1e1e2e 40%, transparent 70%),
              linear-gradient(135deg, rgba(45, 212, 191, 0.1) 0%, rgba(244, 63, 94, 0.1) 100%);
  background-color: #13111C;
  min-height: 100vh;
}

.navBarLink {
  /* margin: 5px; */
}

.card {
  background-color: var(--background-card);
}